:root{
    --background: #1D62AB;
    --background-button: rgb(19, 143, 247);
    --text: #F7F7F7;
}

html{
    margin: 0;
    padding: 0;
}

.body{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--text);
}

.header{
    text-align: center;
    align-self: center;
}

.header__title{
    font-size: 9vh;
    text-shadow: 3px 3px 2px var(--background-button);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__link{
    text-decoration: none;
    color: var(--text);
    font-size: 25px;
    text-align: center;
    padding: 4px 25px;
    background: var(--background-button);
    border: 1px solid #1161B0;
    color: #fff;
    border-radius: 4px;
    margin: 15px;
}