:root {
    --background: #1d62ab;
    --background-ligth: #2c7cd1;
    --background-button: rgb(19, 143, 247);
    --text: #f7f7f7;
}

.main {
    text-align: center;
    align-self: center;
    min-height: 70vh;
}

.main__title {
    font-size: 8vh;
    text-shadow: 3px 3px 2px var(--background-button);
}
